$bg-color1 : rgb(229, 219, 232);
$bg-color2 : rgb(227, 208, 216);
$bg-color3 : rgb(201, 186, 196);
$bg-color4 : rgb(174, 163, 176);
$bg-color5 : rgb(152, 138, 153);
$bg-color6 : rgb(130, 112, 129);

$accent : rgb(136, 89, 123);

