@import 'colors';

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.35rem;
    background: $bg-color6;
    
}

h1, h2 {
    font-family: 'Kalam', cursive;
}

.accent{
    font-weight: 600;
    color: $accent;
}

.card{
    background-color: rgba(255,255,255,0);
    border: none;
}

nav {
    background-color: $bg-color1;
    font-weight: 400;
}

.nav-item {
    font-size: 1.3rem;
}

.nav-item:hover {
    color: $accent;
}

a {
    color: $bg-color6;
}

a:hover {
    color: $accent;
}

label{
    font-size: 1rem;
}


.btn-mail {
    background-color: $bg-color2;
}

.btn-mail:hover {
    background-color: $bg-color1;
}

header{
    background: white;
    background: linear-gradient(0deg, $bg-color2 0%, $bg-color1 100%); 
}

#apropos{
    background: white;
    background: linear-gradient(0deg, $bg-color3 0%, $bg-color2 100%); 
}

#realisations{
    background: white;
    background: linear-gradient(0deg, $bg-color4 0%, $bg-color3 100%);
}

#experience{
    background: white;
    background: linear-gradient(0deg, $bg-color5 0%, $bg-color4 100%);
    
}

#contact{
    background: white;
    background: linear-gradient(0deg, $bg-color6 0%, $bg-color5 100%);
}

#footer{
    color: $bg-color1;
    background-color: $bg-color6;
}

i{
    color: $bg-color5;
}

i:hover{
    color: $bg-color6;
}

#footer i{
    color: $bg-color2;
}

#footer i:hover{
    color: $bg-color1;
}

#contact i{
    color: $bg-color2;
}

#contact i:hover{
    color: $bg-color1;
}
